/* general */

body{
  font-family: 'Roboto', sans-serif;
}

/* buttons */
.btn__blue__text{
  color: #2c6ded;
}

.btn__white__text{
  color: white;
}

.btn{
  background-color: white;
  border:1px solid #2c6ded;
}

.btn__large{
  height: 34px;
  padding: 5px 16px;
}

.btn__blue{
  background-color: #5899fc;;
  border:1px solid #5899fc;
}

.btn__social{
  position: relative;
  border: 1px solid black;
}


/* navigazione */
.navigation{
  height:60px;
  background-color: white;
}

.nav__logo{
  display: inline-block;
  line-height: 60px
}

.nav__logo img{
  width: 150px;
}

.nav__bars,
.hamburger{
  display: inline-block;
  float: right;
  line-height: 60px
}

.navigation nav{
  display: inline-block;
}

header a{
  color: black;
}

.secondary__nav{
  margin-left: 200px;
}

/* end navigazione */

/* hero */

.hero{
  margin-top: 60px;
  background-image: url("../img/bg-hero.svg");
  color: white;
  padding: 30px 0;
}

.hero .hero__title h2{
  font-size: 60px;
  font-weight: 700;
}

.hero .hero__title p{
  font-size: 25px;
  color: #aec3fd;
  font-weight: 700;
}

.form__text{
  padding-bottom: 25px;
}

.form__text h3{
  font-size: 25px;
}

.form__section{
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 20px;
}

.clickable__links{
  color: #2c6ded;
}

.google__logo{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

/* responsive */

@media screen and (max-width: 992px){
  .hero .hero__title h2{
    font-size: 35px;
  }

  .hero .hero__title p{
    font-size: 20px;
  }
}
