/* general */

body{
  font-family: 'Roboto', sans-serif;
}

a:hover{
  text-decoration: none;
}

.bg__grey{
  background-color: #f3f5f9;
}

.bg-blue{
  background-color: #031b4e;
}

.bg__light__blue{
  background-color: #2c6ded;
}

.clickable__links{
  color: #2c6ded;
}

/* typo */

h2{
  margin-top: 0;
}

/* buttons */
.btn__blue__text{
  color: #2c6ded;
}

.btn__white__text{
  color: white;
}

.btn{
  background-color: white;
  border:1px solid #2c6ded;
}

.btn__large{
  height: 34px;
  padding: 5px 16px;
}

.btn__blue{
  background-color: #5899fc;;
  border:1px solid #5899fc;
}

.btn__social{
  position: relative;
  border: 1px solid black;
}


/* navigazione */
.navigation{
  height:60px;
  background-color: white;
}

.nav__logo{
  display: inline-block;
  line-height: 60px
}

.nav__logo img{
  width: 150px;
}

.nav__bars,
.hamburger{
  display: inline-block;
  float: right;
  line-height: 60px
}

.navigation nav{
  display: inline-block;
}

header a{
  color: black;
}

.secondary__nav{
  margin-left: 200px;
}

/* end navigazione */

/* hero */

.hero{
  margin-top: 60px;
  background-image: url("../img/bg-hero.svg");
  color: white;
  padding: 30px 0;
}

.hero__title{
  padding-top: 10px;
}

.hero .hero__title h2{
  font-size: 60px;
  font-weight: 700;
}

.hero .hero__title p{
  font-size: 25px;
  color: #aec3fd;
  font-weight: 700;
}

.form__text{
  padding-bottom: 25px;
}

.form__text h3{
  font-size: 25px;
}

.form__section{
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 20px;
}

.google__logo{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 3px;
}

.google__logo__btn{
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* end hero */

/* different brand */

#different__brand{
  padding-top: 30px;
  padding-bottom: 10px;
}

#different__brand h2{
  font-size: 20px;
  color: #77829d;
  padding-bottom: 10px;
}

.brand__img{
  display: inline-block;
  padding: 0 15px;
  width: calc((100% / 6) - 4px);
}

.brand__img img{
  width: 100%;
}

/* configuration*/

#configuration{
  padding-top: 50px;
  padding-bottom: 30px;
}

.config__choice{
  list-style: none;
  text-align: left;
  border-left: 1px solid #75809A;
  padding-left: 10px;
  margin-bottom: 15px;
}

.config__choice li{
  padding: 10px 0;
}

.config__choice a{
  color: #75809A;
  font-size: 18px;
}

.config__section{
  padding-top: 25px;
}

.config__block{
  padding-bottom: 15px;
}

.config__block h4{
  padding: 10px 0;
}

/* design */

#design{
  padding: 40px 0;
}

#design h2{
  color: #051f4e;
}

.design__example{
  display:inline-block;
  width: 80%;
}

.scroll__img{
  display: inline-block;
  padding: 10px;
  font-size: 30px;
  vertical-align: -50%;
  color: #75809A;
}

.scroll__img:hover{
  color: #051f4e;
}


.design__example img{
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 15px;
}

.design__example p{
  color: #051f4e;
}

.circles i{
  margin: 0 2px;
  color: #2c6ded;
}

/* features */

#features{
  padding-top: 50px;
  padding-bottom: 30px;
}

#features h2, h4{
  color: #051f4e;
}

#features h2{
  padding-bottom: 30px;
}

#features p{
  color: #75809A;
}

/* table */

#table{
  padding: 40px 0;
  color: white;
  background-image: url("../img/bg-map.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#table h2{
  padding-bottom: 30px;
}

.table>tbody>tr>th{
  border: none;
  border-bottom: 1px solid white;
}

.table>tbody>tr>td{
  border: none;
  border-bottom: 1px solid white;
}

.table>tbody>tr>td:last-child{
  text-align: right;
}

.city{
  color: #75809A;
}

/* development */

#development{
  padding: 40px 0;
}

#development h2{
  padding-bottom: 30px;
}

.box{
  display: inline-block;
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px 0 40px 0;
}

.box img{
  width: 65%;
}

.box p:first-of-type{
  font-size: 20px;
  color: #75809A;
  margin-bottom: 20px;
}

#development i{
  padding-top: 10px;
}

#development .scroll__img{
  vertical-align: 170%;
}

/* get started */
#get__started{
  padding: 40px;
}

#get__started h2{
  color: white;
  padding-bottom: 20px;
}

/* footer */

footer{
  color: #75809A;
  padding: 40px 0;
}

footer ul{
  padding-left: 0px;

}

footer li{
  list-style: none;
  margin-bottom: 5px;
}

footer i{
  color: #75809A;
  font-size: 20px;
}

footer h5{
  color: white;
}

/* squalo */

.gatto{
  position: fixed;
  z-index: 10;
  bottom: 3%;
  right: 3%;
}

.vignetta{
  vertical-align: middle;
  z-index: 6;
  position: relative;
  width:300px;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px #000000);
}

.vignetta__2{
  display: none;
  position: relative;
  width:300px;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
  filter: drop-shadow(0px 0px 1px #000000);
}

.arrow-right-white {
  z-index: 10;
  position: absolute;
  right: -10px;
  bottom: 17px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}

.arrow-up-white {
  z-index: 10;
  position: absolute;
  top: -10px;
  left: 22px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.vignetta p{
  padding: 5px;
  margin-bottom: 0px;
}

.vignetta__2 p{
  padding: 5px;
  margin-bottom: 0px;
}

.icona__gatto{
  vertical-align: middle;
  position: relative;
  height: 55px;
  width: 55px;
  display: inline-block;
  margin-left: 10px;
}

.icona__gatto img{
  width: 100%;
}

.notifica{
  position: absolute;
  bottom: 75%;
  right: -40%;
  height: 25px;
  width: 25px;
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
}

.notifica span{
  color: white;
  vertical-align: middle;
}


/* responsive */

@media screen and (min-width: 992px){
  .config__choice{
    margin-left: 50px;
  }
}

@media screen and (max-width: 992px){
  .hero .hero__title h2{
    font-size: 35px;
  }

  .hero .hero__title p{
    font-size: 20px;
  }

}

@media screen and (max-width: 767px){
  .brand__img{
    width: calc((100% / 2) - 4px);
  }

  #different__brand h2{
    font-size: 16px;
  }

  .scroll__img{
    display: none;
  }

  .gatto{
    position: fixed;
    z-index: 10;
    bottom: 3%;
    left: 3%;
  }

  .vignetta__2{
    display: block;
  }

  .vignetta{
    display: none;
  }

  .icona__gatto{
    margin-bottom: 5px;
  }
}
